body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #21232e;
  z-index: 0; }
  body .header {
    height: 719px;
    background: no-repeat center url("../img/m-h-night.jpg");
    background-size: 100%;
    border-radius: 0 0 778px/282px 0; }
    body .header .header-wrap {
      margin: 21px 193px; }
      body .header .header-wrap .header_heading {
        margin-top: 74px;
        margin-bottom: 36px;
        line-height: 72px;
        font-size: 72px;
        width: 504px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bolder;
        position: relative;
        color: #3a4050; }
      body .header .header-wrap .header_heading:before {
        content: 'awesome';
        position: absolute;
        top: 83px;
        line-height: 0.7;
        background-color: #ff4e33;
        color: #3a4050; }
      body .header .header-wrap .header_text {
        font-family: "Hind", sans-serif;
        word-spacing: 1.05px;
        line-height: 24px;
        white-space: pre-line;
        margin: 0;
        color: #3a4050; }
      body .header .header-wrap div button.header_button {
        height: 48px;
        width: 140px;
        background-color: #699900;
        color: white;
        font-family: "Hind", sans-serif;
        font-size: 18px;
        border: none;
        border-radius: 2px;
        margin-left: 0px;
        margin-top: 60px; }
      body .header .header-wrap div a.login {
        margin-left: 150px;
        font-size: 19px;
        font-family: "Hind", sans-serif;
        color: white; }
  body .landing-logo, body .footer .footer-wrap .footer_logo.landing-logo {
    display: flex;
    flex-direction: row;
    color: white; }
    body .landing-logo img, body .footer .footer-wrap .footer_logo.landing-logo img {
      width: 45px;
      height: 45px; }
    body .landing-logo p, body .footer .footer-wrap .footer_logo.landing-logo p {
      margin: -1px 16px;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 23px;
      font-family: "Source Sans Pro", sans-serif;
      color: #3a4050; }
      body .landing-logo p span, body .footer .footer-wrap .footer_logo.landing-logo p span {
        font-weight: normal;
        font-size: 8px;
        text-align: center;
        margin-top: 3px;
        font-family: "Source Sans Pro", sans-serif;
        color: #3a4050; }
  body .section {
    display: flex;
    flex-direction: column;
    width: 1114px;
    margin: 0 402px 0 402px;
    position: relative; }
    body .section .section_text {
      text-align: center;
      margin: 39px auto 38px auto;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 41px;
      position: relative;
      color: #3a4050; }
    body .section .section_text:before {
      content: 'adventure';
      background-color: #ff4e33;
      position: absolute;
      left: 209px; }
    body .section .section_card_wrap .section_card {
      display: flex;
      flex-direction: row;
      border-radius: 6px;
      background-color: #3b3f50;
      color: white;
      margin-bottom: 25px;
      height: 325px; }
      body .section .section_card_wrap .section_card .section_card_img {
        margin: 18px;
        width: 432px;
        display: block;
        border-radius: 6px; }
      body .section .section_card_wrap .section_card .section_card_right_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 494px;
        margin-left: 61px; }
        body .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 26px;
          margin-left: -83px;
          margin-top: 67px; }
        body .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          margin-left: 10px;
          margin-top: 13px;
          font-family: "Hind", sans-serif; }
        body .section .section_card_wrap .section_card .section_card_right_container .section_link {
          font-family: "Hind", sans-serif;
          color: white; }
    body .section .section_banner {
      background: linear-gradient(90deg, #dea406, #932d53);
      border-radius: 5px;
      width: 1198px;
      height: 143px;
      margin-left: -41px;
      margin-top: 125px;
      display: flex;
      flex-direction: row;
      z-index: 99; }
      body .section .section_banner .section_banner_text_wrap {
        margin-left: 161px; }
        body .section .section_banner .section_banner_text_wrap .section_banner_heading {
          margin-top: 12px;
          padding-top: 12px;
          font-weight: bold;
          font-size: 30px;
          font-family: "Source Sans Pro", sans-serif;
          position: relative;
          color: #3a4050; }
        body .section .section_banner .section_banner_text_wrap .section_banner_heading:before {
          content: "start";
          line-height: 1.2em;
          position: absolute;
          top: 12px;
          left: 122px;
          background-color: #ff4e33; }
        body .section .section_banner .section_banner_text_wrap .section_banner_text {
          font-family: "Hind", sans-serif;
          color: white;
          margin-top: -14px; }
      body .section .section_banner .section_banner_button {
        height: 48px;
        width: 140px;
        background-color: #699900;
        color: white;
        font-family: "Hind", sans-serif;
        font-size: 18px;
        border: none;
        border-radius: 2px;
        margin-left: 325px;
        margin-top: 47px; }
  body .section:after {
    position: absolute;
    content: '';
    width: auto;
    height: 74px;
    background-color: #3b3f50;
    bottom: 0;
    left: -402px;
    z-index: 98; }
  body .footer {
    width: auto; }
    body .footer .footer-wrap {
      display: flex;
      flex-direction: row;
      background-color: #3b3f50; }
      body .footer .footer-wrap .footer_logo.landing-logo {
        margin-left: 193px;
        margin-top: 64px; }
      body .footer .footer-wrap .footer_text {
        color: white;
        font-family: "Hind", sans-serif;
        font-size: 14px;
        width: 291px;
        margin-top: 56px;
        margin-left: 439px;
        line-height: 20px;
        padding-bottom: 58px; }
      body .footer .footer-wrap .footer-cr {
        color: white;
        font-family: "Hind", sans-serif;
        font-size: 16px;
        margin-left: 470px;
        margin-top: 71px; }
