$header_bg: no-repeat center url("../img/m-h-night.jpg");
$color_text1: #3a4050;
$color_text2: white;
$highlight: #ff4e33;
$main_bg: #21232e;
$color_button: #699900;
$card_bg: #3b3f50;
$banner_bg: linear-gradient(90deg, #dea406, #932d53);
$fontHind: 'Hind', sans-serif;
$fontSans: 'Source Sans Pro', sans-serif;
$pos_b:("$header-btn-top": 60px, "$header-btn-left": 0px, "$footer-btn-top": 47px, "$footer-btn-left": 325px);