$header_bg: no-repeat center url("../img/m-h-day.jpg");
$color_text1: #3a4050;
$color_text2: white;
$highlight: #1491ba;
$main_bg: white;
$color_button: #699900;
$card_bg: #1b1e2a;
$banner_bg: linear-gradient(90deg, #66950d, #2d5bda);
$fontHind: 'Hind', sans-serif;
$fontSans: 'Source Sans Pro', sans-serif;
$pos_b:("$header-btn-top": 60px, "$header-btn-left": 0px, "$footer-btn-top": 47px, "$footer-btn-left": 325px);