@media print {
    body {
        background-color: #fff;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .tm-main-content {
        padding-top: 0px;
    }

    .tm-sidebar, .tm-team-img, .gallery-container, .img-contact-us, #contact, .carousel-indicators {
        display: none;
    }

    .tm-content-box {
        margin: 0 auto;
        padding: 0;
    }

    .tm-team-description-container, .tm-banner-inner, .carousel-content {
        max-width: 700px;
        margin: 0 auto;
    }

    .blocks .tm-section-description:last-child {
        letter-spacing: 5px;
        word-spacing: 10px;
        font-style: italic;
    }

    h2.tm-section-title, h2{
        color: rgb(74, 157, 212);;
        font-weight: lighter;
    }

    .heading {
        max-width: 300px;
        text-align: center;
    }

    .heading li {
        list-style-type: none;
        text-align: justify;
    }

    .padding-medium, .carousel-content {
        padding: 5px 40px;
        margin: 0 auto;
    }

    .padding-medium li:nth-child(odd) {
        text-align: right;
    }

    .heading ol {
        padding: 0px;
    }

    .tm-main-content {
        padding-top: 0px;
    }
}

@media screen {


    .tm-sidebar,
    .tm-content-box, .blocks {
        box-shadow: 0 0 10px 2px #333;
    }

    #home + section .tm-content-box {
        box-shadow: none;
    }

    .blocks .tm-content-box {
        box-shadow: none;
    }

    #home + section {
        box-shadow: 0 0 10px 2px #333;

    }

    #home .tm-banner {
        background: rgb(20, 236, 245);
        background: linear-gradient(90deg, lightskyblue, burlywood);
    }

    .tm-banner-inner {
        background-color: #fff;
    }

    .padding-medium.flex-item.tm-team-description-container.flex-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .tm-content-box.flex-2-col {
        display: flex;
    }

    .tm-content-box.flex-2-col::after {
        height: 30px;
        width: 100%;
        display: block;
    }

    .tm-section-description {
        text-indent: 1.5em;
    }

    section {
        position: relative;
    }

    section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 2em solid lightskyblue;
        border-right: 2em solid transparent;
        z-index: 1;
    }

    .box.box-work:nth-child(odd) {
        background-color: lightskyblue;
    }

    section.blocks .box {
        padding: 10px 10px;
    }

    .blocks div:nth-child(2) {
        box-shadow: none;
    }

    .text {
        position: relative;
    }

    .text::after {
        content: "New";
        position: absolute;
        top: 0;
        color: red;
        font-size: 10px;
    }

    ol {
        list-style-type: lower-latin;
    }

    .blocks .tm-team-description-container .tm-section-description:last-child {
        letter-spacing: 7px;
        font-style: italic;
    }

    input[type=text], input[type=email] {
        background: transparent;
        border: none;
        border-bottom: 1px solid lightskyblue;
    }

    #contact_message {
        background: transparent;
        border: 1px solid lightskyblue;
    }

    .submit-btn {
        background-color: #fff;
        border-color: lightskyblue;
        color: lightskyblue;
        height: 75px;
        width: 130px;
        border-radius: 5px;
        float: right;
    }

    .gallery-container p {
        font-style: italic;
    }

    .gallery-container p::first-letter {
        font-weight: bold;
    }

    .tm-nav-item-link:hover {
        color: #fff;
    }

    .tm-nav-item:hover {
        background-color: lightskyblue;
    }

    .tm-banner-text {
        text-shadow: #333 5px 5px 3px;
        position: relative;
        animation: banner 3s;
    }

    @keyframes banner {
        0% {
            left: 200px;
        }

        100% {
            left: 0px;
        }
    }
    .tm-box-bg-title:hover {
        background-color: lightgrey;
        color: lightskyblue;
    }

    #contact_message {
        background: url(../img/email-icon.png);
        background-repeat: no-repeat;
        background-position: 99% 95%;
        background-size: 30px;

    }
    .padding-medium a:hover:before {
        content: '>';
    }
    .heading h2 {
        color: lightskyblue;
        text-align: center;
    }
}